//- alerts.jade
//- alert mixins

include icons
//- Generic Simple alert
mixin alert(type)
	unless type
		- var type = "info"
	.alert(role="alert",class="alert-#{type}")
		block

//- Generic alert with icon
mixin alert-i(type,icon)
	unless type
		- var type = "info"
	.alert(role="alert",class="alert-#{type}")
		+icon(icon)
		|  &nbsp;
		block

		
//- Generic alert with close button
mixin alert-x(type)
	unless type
		- var type = "info"
	.alert.alert-dismissible(role="alert",class="alert-#{type}")
		button.close(type="button",data-dismiss="alert" aria-label="Close")
			span(aria-hidden="true")  &times;
		block
		
//- Generic alert with icon and close button
mixin alert-ix(type,icon)
	unless type
		- var type = "info"
	.alert.alert-dismissible(role="alert",class="alert-#{type}")
		+icon(icon)
		button.close(type="button",data-dismiss="alert" aria-label="Close")
			span(aria-hidden="true")  &times;
		block